<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint address="https://api.neoncrm.com/neonws/services/EventService"
        binding="basicHttpBinding" bindingConfiguration="EventBinding"
        contract="NeonService.EventService" name="EventPort" />
      <endpoint address="https://api.neoncrm.com/neonws/services/DonationService"
        binding="basicHttpBinding" bindingConfiguration="DonationBinding"
        contract="NeonService.DonationService" name="DonationPort" />
      <endpoint address="https://api.neoncrm.com/neonws/services/AccountService"
        binding="basicHttpBinding" bindingConfiguration="AccountBinding"
        contract="NeonService.AccountService" name="AccountPort" />
      <endpoint address="https://api.neoncrm.com/neonws/services/CommonService"
        binding="basicHttpBinding" bindingConfiguration="CommonBinding"
        contract="NeonService.CommonService" name="CommonPort" />
    </client>
    <bindings>
      <basicHttpBinding>
        <binding maxReceivedMessageSize="2147483647" />
        <binding name="DonationBinding" receiveTimeout="00:10:00" sendTimeout="00:10:00"
          maxReceivedMessageSize="2147483647">
          <security mode="Transport" />
        </binding>
        <binding name="CommonBinding" receiveTimeout="00:10:00" sendTimeout="00:10:00"
          maxReceivedMessageSize="2147483647">
          <security mode="Transport" />
        </binding>
        <binding name="AccountBinding" receiveTimeout="00:10:00" sendTimeout="00:10:00"
          maxReceivedMessageSize="2147483647">
          <security mode="Transport" />
        </binding>
        <binding name="MembershipBinding" receiveTimeout="00:10:00" sendTimeout="00:10:00"
          maxReceivedMessageSize="2147483647" />
        <binding name="StoreBinding" receiveTimeout="00:10:00" sendTimeout="00:10:00"
          maxReceivedMessageSize="2147483647" />
        <binding name="EventBinding" receiveTimeout="00:10:00" sendTimeout="00:10:00"
          maxReceivedMessageSize="2147483647" />
        <binding name="AccountBinding1" />
        <binding name="CommonBinding1" />
        <binding name="DonationBinding1" />
        <binding name="EventBinding1" />
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>